#formulario{
    background: linear-gradient(90deg, rgb(72, 72, 255), aqua, rgb(72, 72, 255)) ;
}
input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px; /* Arredonda as bordas */
    outline: none; /* Remove a borda azul ao focar */
}
p {
    font-size: 20px; /* Define o tamanho da fonte para 20 pixels */
}

h1 {
    font-size: 40px; /* Define o tamanho da fonte para 40 pixels */
}
